@theme "gruvbox-dark"

configuration {
    font: "JetBrainsMono Nerd Font 16";
    show-icons: true;
  	sort: true;
  	sidebar-mode: true;
  	hover-select: true;
  	auto-select: true;
  	parse-hosts: true;
  	threads: 8;
  	refilter-timeout-limit: 100;
  
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}


